@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-weight: normal;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    overflow-y: auto;
}

html body {
    overflow-y: auto;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    font-size: 1.15em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main
{
    margin: 10px 10px 10px 10px;
}

hr
{
    background-color: grey;
    height: 2px;
    margin: 15px 0 15px 0;
}

@media (min-width: 1024px)
{
    main
    {
        width: 1024px;
        margin: 10px auto;
    }
}

/* ---------- BUTTONS ---------- */

.btn-ctn
{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn
{
    background-color: #ffde59;
    color: #000;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    animation: zoom-out 0.1s ease-in;
}

.btn:hover
{
    background-color: #FFBF00;
    cursor: pointer;
    animation: zoom-in 0.1s ease-out;
    padding: 20px;
}

.btn-delete
{
    background-color: #fe4646;
}

.btn-delete:hover
{
    background-color: #ff2626;
}

@keyframes zoom-in
{
    from { padding: 15px }
    to { padding: 20px }
}

@keyframes zoom-out
{
    from { padding: 20px; }
    to { padding: 15px; }
}