header
{
    background-color: #043419;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    height: 50px;
}

.header-logo
{
    position: absolute;
    width: 15%;
    left: 0;
    right: 0;
    margin: auto;
}

.header-menu
{
    font-weight: 500;
    font-size: 15px;
}

@media (min-width: 320px) and (max-width: 767px)
{
    header
    {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}