main
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-title
{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.main-form
{
    background-color: #043419;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    align-self: center;
}

.main-form > input,select,textarea
{
    background-color: #fff;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
    border: solid 1px grey;
    margin: 5px 0;
    width: 100%;
    align-self: flex-start;
}

.main-form > textarea
{
    height: 100px;
    resize: vertical;
}

.snippet-limit
{
    font-size: 15px;
    color: #ffde59;
    align-self: flex-end;
}

#thumbnail
{
    background-color: #043419;
    border: none !important;
    padding: 5px 0;
}

.main-form > label
{
    align-self: flex-start;
    font-size: 17px;
}

.form-btn
{
    background-color: #fff;
    color: #000;
    padding: 15px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    display: block;
    align-self: center;
}

.form-btn:hover
{
    background-color: #ffde59;
    cursor: pointer;
}
